html, body {
	height: 100%;
	
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 0px auto;
}

th, td {
	padding: 5px;
}

#page {
	height: 100%;
	width: 85%;
}
#quangCao{
	width: 15%;
	float: right;
}
#body {
	clear: both;
	display: block;
	content: "";
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}

#workspace {
	margin-left: 250px;
	/* background-color: white; */
}

#navspace {
	width: 240px;
	float: left;
	
}

.ui-state-disabled, input[disabled], select[disabled], textarea[disabled]
	{
	opacity: 1;
	border-color: #E6E6E6;
}

.layout-200-rest {
	height: auto;
}

.layout-200-rest .col-left {
	float: left;
	width: 200px;
	padding: 10px;
}

.layout-200-rest .col-right {
	margin-left: 220px;
	padding: 10px;
}

.layout-150-rest {
	height: auto;
}

.layout-150-rest .col-left {
	float: left;
	width: 150px;
	padding: 10px;
}

.layout-150-rest .col-right {
	margin-left: 170px;
	padding: 10px;
}

.block-border {
	padding: 10px;
}

.ui-page-theme-b a.ui-internal-link {
	color: #000000 !important /*{a-body-link-color}*/;
	text-decoration: none;
}

.ui-page-theme-b a.ui-internal-link:hover {
	text-decoration: underline;
}

.ui-page-theme-b .ui-origin-text {
	color: #333;
}

.ui-page-theme-b .ui-new-text {
	color: #c0b659;
}

.ui-page-theme-b .ui-modified-text {
	color: #a7470c;
}

.ui-page-theme-b .ui-deleted-text {
	color: #c52716;
}

.ui-page-theme-b .ui-error-text {
	color: #c52716;
}

.my-legend .legend-title {
	text-align: left;
	margin-bottom: 5px;
}

.my-legend .legend-scale ul {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	float: left;
	list-style: none;
}

.my-legend .legend-scale ul li {
	list-style: none;
	margin-left: 0;
	line-height: 18px;
	margin-bottom: 2px;
}

.my-legend ul.legend-labels li span {
	display: block;
	float: left;
	height: 16px;
	width: 30px;
	margin-right: 5px;
	margin-left: 0;
	border: 1px solid #999;
}

.my-legend .legend-source {
	font-size: 70%;
	color: #999;
	clear: both;
}

.my-legend a {
	color: #777;
}

#BannerView {
	background: orange;
	height: 44px;
}

#page {
	/* background: url("../images/FondVert.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}
/* #PopupPanel{
	background-color: rgba(255, 1000, 1, 0.5);
} */
.onClickMenuItemModule {
	text-align: center;
	width : 80px;
	height: 70px;
	float: left;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	width: 100px;
}

.onClickMenuItemModule img {
	/* width: 80px; */
	height: 50px;
}

.onClickMenuItemModule a {
	color: black;
	text-decoration: none;
}
.menuCol:HOVER {
	background-color: #FF9900;
}
.menuCol a:HOVER {
	text-decoration: none;
	color: black;
}
.menuCol {
	height: 85px;
	vertical-align: middle;
} 
.menuCol img{
	height: 50px;
	width: 55px;
	padding: 0px 0px 0px 0px !important;
} 
.menuCol a{
	color: black;
	padding: 6px 12px 6px 12px;
	word-wrap: break-word;
} 
fieldset{

    border: 1px solid threedface !important;
    
}
	
.row{
	border-top: 0px !important;
	border:  2px groove #CCCCFF;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px !important;
	margin-right: 5px;
	max-height: 100%;
}
legend {
width: auto;
	color: red;
	font-weight: 700;	
	border-bottom: 0px solid #e5e5e5;
}
.menuModule ul li{
	position: relative;
}
.menuModule{
	max-height: 100%;
}

.menuModule ul {
  background: #FF9900;
  width: 232px;
  padding: 0;
  list-style-type: none;
  text-align: left;
  margin-top: 0px;
}
.menuModule li {
	font-weight: 700;
  width: auto;
  height: 45px;
  line-height: 40px;
  border-bottom: 2px solid white;
}

.active {
  background-image: url("../images/home/menu3.png") !important;
}
.menuModule li:hover {
  background-image: url("../images/home/menu2.png");
  
}
.menuModule li{
	padding-left: 76px;
	color: black;
	background-image: url("../images/home/menu1.png");
}

.nothing{
	color: red;
}
#testMenu{
	display: block;
    left: 0px;
    width: auto;
    margin-top: 3px;
}
#testMenu:HOVER {
	
}


/* Dien thoai di dong hien chieu doc*/
@media all and (max-width: 320px) {
	
	
}
/* Dien thoai di dong hien chieu ngang*/
@media all and (max-width: 480px) {
	
}
/* May tinh bang hien chieu doc*/
@media all and (max-width: 600px) {
	
}
/* May tinh bang hien chieu ngang*/
@media all and (max-width: 800px) {
	#navspace{
		display: block;
	}
}
/* May tinh bang loai to hien chieu doc*/
@media all and (max-width: 768px) {
	#navspace{
		display: none;
		position: absolute;
		z-index: 999;
	}
	#testMenu{display: block !important;}
	#workspace{margin-left: 20px;}
}
/* May tinh bang loai to hien chieu ngang*/
@media all and (max-width: 1024px) {
	#quangCao{display: none;}
	#page{width: 100%;}
}
/* Danh cho desktop */
@media all and (min-width: 1025px) {
	
}
